#ignore all files in the 
C:\Users\james95\Downloads\assignments-20250206T093954Z-001\assignments\assignment1\cs231n\datasets\
C:\Users\james95\Downloads\assignments-20250206T093954Z-001\assignments\assignment2\cs231n\datasets\
C:\Users\james95\Downloads\assignments-20250206T093954Z-001\assignments\assignment3\data\
C:\Users\james95\Downloads\assignments-20250206T093954Z-001\assignments\assignment3\pretrained_model\
C:\Users\james95\Downloads\assignments-20250206T093954Z-001\assignments\assignment3\cs231n\datasets\